* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

#work{
  color: crimson;
  font-size: 30px;
  text-align: center;
  
}

#map{
  width:1100px ;
  height: 600px;
}

#map-container{
  margin: 50px 0 50px 0;
}
.navbar {
  background-color: #2a9d8f;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 2rem;
  align-items: center;
} 

.intro {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  width: 1100px;
  
}

.card {
  background-color: #a8d5ba;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
.card:hover{
  cursor: pointer;
  background-color: #c7f1d7;
}

footer {
  background-color: #2a9d8f;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

.active-card{
  background: #4caf50;   /* highlight active */
  color: white;
  font-weight: bold;
}
